$text-color: #fff;
$b-redius: 4px;
$p-color: #bbbbbb;

@mixin code {
  font-family: "Courier New", Courier, monospace;
  background-color: #333;
  border: 1px solid #5f5f5f;
  color: #f5f5f5;
  padding: 0.2rem 0.4rem;
  border-radius: $b-redius;
  font-size: 0.9rem;
  overflow-x: scroll;
}
@mixin link-icon-transform($transform-value) {
  color: $text-color;
  font-size: medium;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  .icon {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
  }
  
  &:hover .icon {
    transform: $transform-value;
  }
}

body {
  background-color: #1e293b;
  color: $text-color;
  font-family: "Lato";
}
p {
  font-size: large;
  color: #bbbbbb;
  code {
    @include code;
  }
}
pre {
  @include code;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.5em;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #4a4a4a;
  color: $text-color;
}
.container {
  width: 70%;
  margin: auto;
}
.gists-container {
  display: grid;
  gap: 2em;
}
.gist-card {
  background-color: #333;
  border-radius: $b-redius;
  padding: 1em;
}
.link-y {
  @include link-icon-transform(translateY(-3px));
}
.link-x-minus {
  @include link-icon-transform(translateX(-3px));
}
.link-x {
  @include link-icon-transform(translateX(3px));
}
.gist-main-title {
  width: 80%;
  margin: auto;
}

$table-border: 1px solid $p-color;

table {
  border: $table-border;
  border-collapse: collapse;
  min-width: 50px;
  td {
    border: $table-border;
    padding: 0.7em;
  }
}

.bio-section {
  display: flex;
  justify-content: space-around;
  gap: 2em;
  padding: 1em;
}
.profile-image {
  border-radius: $b-redius;
}

.project-showcase-section {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 4%;
}

.project-card {
  background-color: #333;
  border-radius: $b-redius;
  overflow: hidden;
  .project-card-desc {
    padding: 1em;
  }
}
.project-links {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      li {
        list-style: none;
      }
    }

// @media only screen and (max-width: 1200px){
//   /*Tablets [601px -> 1200px]*/
// }
@media only screen and (max-width: 768px) {
  .container,
  .gist-main-title {
    width: 95%;
  }
  .project-showcase-section {
    grid-template-columns: auto;
  }
}
@media only screen and (max-width: 425px) {
  .container,
  .gist-main-title {
    width: 100%;
  }
  .gist-card {
    padding: 0.8em;
  }
  .profile-image {
    width: 70%;
  }
  .bio-section {
    flex-direction: column;
    gap: 3em;
    padding: 0.4em;
  }
}
