$text-color: #fff;
$b-redius: 4px;

@mixin code {
  font-family: "Courier New", Courier, monospace;
  background-color: #333;
  border: 1px solid #5f5f5f;
  color: #f5f5f5;
  padding: 0.2rem 0.4rem;
  border-radius: $b-redius;
  font-size: 0.9rem;
}

body {
  background-color: #1e293b;
  color: $text-color;
}
pre {
  @include code;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.5em;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #4a4a4a;
  color: $text-color;
}
.container {
  width: 70%;
  margin: auto;
}
.gists-container {
  display: grid;
  gap: 2em;
}
.gist-card {
  background-color: #333;
  border-radius: $b-redius;
  padding: 1em;
}
.link {
  color: $text-color;
  font-size: medium;
}
.gist-main-title {
  width: 80%;
  margin: auto;
}

// @media only screen and (max-width: 1200px){
//   /*Tablets [601px -> 1200px]*/
// }
@media only screen and (max-width: 768px) {
  .container, .gist-main-title {
    width: 95%;
  }
}
@media only screen and (max-width: 425px) {
  .container, .gist-main-title {
    width: 98%;
  }
}
